footer{
	min-height: 163px;
  background-color: #211F2B;
  margin-bottom: 0px;
	a{
		&:hover{ 
      color:red
      }
    }
}
.footer{
	&_wrapper{
		display: flex;
		align-items: center;
    img{
      position: absolute;
      margin-top: 32px;
      margin-bottom: 48px;
    }
  }
  &_subheader{
    color: #2B2B2B;
    margin-top: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
	&_links{
    padding-top: 70px;
		width: 520px;
		margin: 0 auto;
		a{
      color: #ffffff;
      font-size: 17px;
      font-weight: 400;
      margin-left: 33px;
      line-height: 18px;
      text-decoration: none; 
      &:hover{ 
        color:red;
        text-decoration: none; 
        }
      &:first-child{
		    margin-left: 0px;
      }
    }
  }
}