@media ( max-width: 767px ){
    header{
      img{
        margin-left: 70px;
      }
    }
    .menu{
        display: none;
    }
    .subheader_phone{
      padding-right: 15px;
      font-weight: 900;
      font-size: 16px;
    }
    .subheader_call{
      padding-right: 15px;
      font-size: 13px;
    }
    .title_left{
      font-size: 30px;
      text-align: center;
    }
    .feed-form{
      flex-direction: column;
      align-items: center;
    }
    .consultation__descr {
      text-align:center;
    }
    .button{
      &_submit{
        height: 51px;
        width: 217px;
        font-size: 14px;
        font-weight: 300; 
        margin-left: 0;
      }
    }
    .news {
      margin-top: 20px;
      max-height: 420px;
    }
    .footer{
      &_subheader{
        padding-top: 36px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color:white;
      }
      &_phone{
        margin-top: 15px;
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        color:white;
      }
    }
    .xs-hidden{
      display: block;
      }
    .xs-visible{
    display: none;
      }     
    .hamburger{
      display: block;
      position: absolute;
      left: 15px;
      top: 43%;
      transform: translateY(-50%);
      width: 48px;
      height: 20px;
      span{
          display: block;
          height: 6px;
          width: 100%;
          background-color: red;
          margin-bottom: 6px;
          transition: 0.5s all;
      }
      &_active{
          span{
              margin-bottom: -6px;
              &:nth-child(1){
                  transform: translateY(3px) rotate(-45deg);
              }
              &:nth-child(2){
                  display: none;
              }
              &:nth-child(3){
                  transform: translateY(3px) rotate(45deg);
              }
      }
    }
  }
}
@media ( max-width: 320px ){
  header{
    img{
      margin-left: 50px;
    }
  }
  .subheader{
    &_phone {
    padding-right:10px;
    }
    &_call {
      padding-right:10px;
      }
  }
  .menu-2{
    &_footer{
      &_phone{
      margin-top: 5px;
      }
      &_subheader{
        padding-top: 25px;
      }
    }
  }
}
