@media ( max-width: 767px ){
    header{
      img{
        margin-left: 75px;
      }
    }
    .xs-hidden{
          display: block;
    }
      .xs-visible{
          display: none;
    }
      .menu{
          display: none;
    }
    .subheader_phone{
      padding-right: 30px;
      font-weight: 900;
      font-size: 19px;
    }
    .subheader_call{
      padding-right: 30px;
      font-size: 16px;
    }
    .footer{
      &_subheader{
        padding-top: 36px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color:white;
      }
      &_phone{
        margin-top: 15px;
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        color:white;
        
      }
    }
    .hamburger{
    display: block;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 20px;
    span{
        display: block;
        height: 6px;
        width: 100%;
        background-color: red;
        margin-bottom: 6px;
        transition: 0.5s all;
    }
    &_active{
        span{
            margin-bottom: -6px;
            &:nth-child(1){
                transform: translateY(3px) rotate(-45deg);
            }
            &:nth-child(2){
                display: none;
            }
            &:nth-child(3){
                transform: translateY(3px) rotate(45deg);
            }
    }
    }
    .xs-hidden{
    display: none
    }
    .xs-visible{
    display: block
    }
    }

}