@charset "UTF-8";
header {
  position: relative;
  height: 74px;
}
header img {
  padding-top: 11px;
}

nav {
  height: 50px;
}

.hamburger {
  display: none;
  z-index: 6;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-left: 4px;
  padding-right: 50px;
  margin: 0;
  list-style-type: none;
  z-index: 5;
}
.menu_link {
  color: #2B2B2B;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}
.menu_link:hover {
  color: red;
  text-decoration: none;
}
.menu_item {
  padding-right: 28px;
}

.number_block {
  padding-top: 19px;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  flex-direction: column;
}

.subheader_call {
  color: #2B2B2B;
  margin-top: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.subheader_phone {
  display: block;
  color: #2B2B2B;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}
.subheader_phone:hover {
  color: red;
}

.menu-2 {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  transition: 0.7s all;
  z-index: 5;
}
.menu-2-ul {
  padding: 110px 20px;
  list-style-type: none;
}
.menu-2_active {
  right: 0;
}
.menu-2_item {
  padding-right: 0;
  border: none;
  margin: 10px;
}
.menu-2_link {
  font-size: 25px;
  color: black;
  line-height: 60px;
  text-decoration: none;
  font-weight: 400;
}
.menu-2_link:hover {
  color: red;
  text-decoration: none;
}
.menu-2_footer {
  background-color: black;
  width: 100vw;
  height: 53vh;
}
.menu-2_footer .xs-hidden {
  display: block;
}
.menu-2_footer .xs-visible {
  display: none;
}
.menu-2_footer_subheader {
  padding-top: 36px;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: white;
  padding-left: 20px;
}
.menu-2_footer_phone {
  margin-top: 25px;
  font-weight: 900;
  font-size: 24px;
  line-height: 23px;
  color: white;
  padding-left: 20px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.title_left {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 40px;
  line-height: 46px;
  text-align: left;
}

.consultation {
  min-height: 507px;
  padding: 100px 0 92px 0;
  background: url(/assets/Rectangle.png) center center/cover no-repeat;
}
.consultation__descr {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.feed-form {
  margin-top: 33px;
  display: flex;
  max-width: 450px;
}
.feed-form input {
  height: 51px;
  width: 217px;
  background-color: #ffffff;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 300;
}

.button {
  background-color: red;
  width: 214px;
  height: 51px;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.button_submit {
  width: 100%;
  height: 50px;
  font-size: 16px;
  margin-left: 17px;
  color: #ffffff;
}

.news {
  max-height: 533px;
  margin-top: 90px;
}
.news__title {
  text-align: center;
  font-weight: 900;
  font-size: 34px;
  line-height: 39px;
}

footer {
  max-height: 163px;
  background-color: #211F2B;
  margin-bottom: 0px;
}
footer a:hover {
  color: red;
}

.footer_wrapper {
  display: flex;
  align-items: center;
}
.footer_wrapper img {
  position: absolute;
  margin-top: 40px;
}
.footer_subheader {
  color: #2B2B2B;
  margin-top: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.footer_links {
  padding-top: 70px;
  width: 520px;
  margin: 0 auto;
}
.footer_links a {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  margin-left: 33px;
  line-height: 18px;
  text-decoration: none;
}
.footer_links a:hover {
  color: red;
  text-decoration: none;
}
.footer_links a:first-child {
  margin-left: 0px;
}

.xs-hidden {
  display: none;
}

.xs-visible {
  display: block;
}

@media (max-width: 990px) {
  .menu {
    padding-left: 24px;
  }

  .footer_links {
    width: 502px;
    margin: 0 auto;
    text-align: right;
  }
  .footer_links a {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  header img {
    margin-left: 70px;
  }

  .menu {
    display: none;
  }

  .subheader_phone {
    padding-right: 15px;
    font-weight: 900;
    font-size: 16px;
  }

  .subheader_call {
    padding-right: 15px;
    font-size: 13px;
  }

  .title_left {
    font-size: 30px;
    text-align: center;
  }

  .feed-form {
    flex-direction: column;
    align-items: center;
  }

  .consultation__descr {
    text-align: center;
  }

  .button_submit {
    height: 51px;
    width: 217px;
    font-size: 14px;
    font-weight: 300;
    margin-left: 0;
  }

  .news {
    margin-top: 20px;
    min-height: 320px;
  }

  .footer_subheader {
    padding-top: 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: white;
  }
  .footer_phone {
    margin-top: 15px;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: white;
  }

  .xs-hidden {
    display: block;
  }

  .xs-visible {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    left: 15px;
    top: 43%;
    transform: translateY(-50%);
    width: 48px;
    height: 20px;
  }
  .hamburger span {
    display: block;
    height: 6px;
    width: 100%;
    background-color: red;
    margin-bottom: 6px;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -6px;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
}
@media (max-width: 320px) {
  header img {
    margin-left: 50px;
  }

  .subheader_phone {
    padding-right: 10px;
  }
  .subheader_call {
    padding-right: 10px;
  }

  .menu-2_footer_phone {
    margin-top: 5px;
  }
  .menu-2_footer_subheader {
    padding-top: 25px;
  }
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url(/images/vendor/slick-carousel/slick/ajax-loader.gif?fb6f3c230cb846e25247dfaa1da94d8f) center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url(/fonts/vendor/slick-carousel/slick/slick.eot?a4e97f5a2a64f0ab132323fbeb33ae29);
  src: url(/fonts/vendor/slick-carousel/slick/slick.eot?a4e97f5a2a64f0ab132323fbeb33ae29) format("embedded-opentype"), url(/fonts/vendor/slick-carousel/slick/slick.woff?295183786cd8a138986521d9f388a286) format("woff"), url(/fonts/vendor/slick-carousel/slick/slick.ttf?c94f7671dcc99dce43e22a89f486f7c2) format("truetype"), url(/fonts/vendor/slick-carousel/slick/slick.svg?2630a3e3eab21c607e21576571b95b9d) format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

* {
  font-family: "Ubuntu", sans-serif;
}

footer {
  min-height: 163px;
  background-color: #211F2B;
}
footer a:hover {
  color: red;
}
